<section class="contacts bg-white py-5">
    <div class="container py-1">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <i class="fa fa-clock p-2 bg-white rounded-1 border text-center text-primary float-start me-2"></i>
          <span class="d-block overflow-hidden line-heights"> <strong>{{lang.opennig_time}}</strong>
          <p>{{lang.monday}}-{{lang.friday}}, 09:00-18:00</p>
          </span>
        </div>
        <div class="col-md-4 col-sm-12">

          <div class="mb-3">
            <i class="fa fa-headphones p-1 bg-primary text-white rounded-1 text-center float-start me-2"></i>
            <span class="d-block overflow-hidden line-heights">
              <p>{{lang.call_us}}: <a href="tel:+994555553485" class="text-decoration-none text-dark">+994 (55) 555 34 85</a></p>
            </span>
          </div>

          <div class="mb-3">
            <i class="fab fa-whatsapp p-1 bg-primary text-white rounded-1 text-center float-start me-2"></i>
            <span class="d-block overflow-hidden line-heights">
              <p>{{lang.whatsapp}}: <a href="https://wa.me/994555553485" target="_blank" class="text-decoration-none text-dark">+994 (55) 555 34 85</a></p>
            </span>
          </div>

          <div class="mb-3">
            <i class="fa-brands fa-facebook p-1 bg-primary text-white rounded-1 text-center float-start me-2"></i>
            <span class="d-block overflow-hidden line-heights">
              <p> <a href="https://www.facebook.com/AutoTraderAzerbaijan" target="_blank" class="text-decoration-none text-dark">Auto Trader Azerbaijan</a></p>
            </span>
          </div>

          <div class="mb-3">
            <i class="fa-brands fa-instagram p-1 bg-primary text-white rounded-1 text-center float-start me-2"></i>
            <span class="d-block overflow-hidden line-heights">
              <p> <a href="https://www.instagram.com/autotraderazerbaijan/" target="_blank" class="text-decoration-none text-dark">Auto Trader Azerbaijan</a></p>
            </span>
          </div>

          <div class="mb-3">
            <i class="fa fa-envelope p-1 bg-primary text-white rounded-1 text-center float-start me-2"></i>
            <span class="d-block overflow-hidden line-heights">
              <p><a href="mailto:info@autotrader.az" class="text-decoration-none text-dark">info@autotrader.az</a></p>
            </span>
          </div>


        </div>
        <div class="col-md-4 col-sm-12">
          <i class="fa fa-map-marker-alt p-2 bg-white rounded-1 border text-center text-primary float-start me-2"></i>
          <span class="d-block overflow-hidden line-heights">
            <p>{{lang.address_line}}</p>
          </span>
        </div>



        </div>


    </div>
</section>