  <section class="question bg-white py-4 text-white">
    <div class="container py-2">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="h2 mb-4">{{lang.got_shipping_questions}}</h3>
          <p class="h5 fw-light">{{lang.got_shipping_questions_msg}}</p>
        </div>
        <div class="col-lg-2 col-md-1 col-sm-12"></div>
        <div class="col-lg-8 col-md-10 col-sm-12 p-0">
          <div class="row">
            <div class="col-md-4">
              <div class="mt-4">
                <input type="text" class="form-control" placeholder="{{lang.your_name}}" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mt-4"> <span class="input-group-text" id="basic-addon5">+92</span>
                <input type="text" class="form-control py-2" placeholder="03438485818" aria-label="Username" aria-describedby="basic-addon1" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-4"> <a href="javascript:;" class="btn btn-warning py-2 px-4 fs-6 rounded-pill text-uppercase w-100 fw-bold">{{lang.request_callback}}</a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-1 col-sm-12"></div>
      </div>
    </div>
    <br />
  </section>